*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}



h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
p{ font-size: 1.25em;}
ul{ list-style: none;}
li{ font-size: 1.25em;}

.boton-Inicio {
    display: inline-block;
  padding: 10px 20px;
  margin: 0 10px;
  background-color: rgb(86, 226, 43);
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  }
 
  .boton-Inicio:hover {
    background-color: #3f3741;
  }

  .boton-Estadisticas {
    display: inline-block;
  padding: 10px 20px;
  margin: 0 10px;
  background-color: rgb(86, 226, 43);
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  }


  
  .boton-Estadisticas:hover {
    background-color: #3f3741;
  }

  .boton-Medidas {
    display: inline-block;
  padding: 10px 20px;
  margin: 0 10px;
  background-color: rgb(86, 226, 43);
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  }


  
  .boton-Medidas:hover {
    background-color: #3f3741;
  }

  .boton-Procedimientos {
    display: inline-block;
  padding: 10px 20px;
  margin: 0 10px;
  background-color: rgb(86, 226, 43);
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  }


  
  .boton-Procedimientos:hover {
    background-color: #3f3741;
  }
  .boton-Historia {
    display: inline-block;
  padding: 10px 20px;
  margin: 0 10px;
  background-color: rgb(86, 226, 43);
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  }


  

.container{
    max-width: 3000px;
    margin: auto;
}

.color-acento{ color:rgb(86, 226, 43); }

header{
    background-color: rgb(245,245,245);
    
}

header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: rgb(86, 226, 43);
    font-size: 1.6em;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover{
    color: blueviolet;
}

#Datos .container{
    text-align: center;
    padding: 50px 12px;
}


#seccion-imagenes {
    text-align: center;
  }
  
  #seccion-imagenes .imagen-container {
    display: flex;
    justify-content: center;
  }
  
  #seccion-imagenes .imagen {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }
  
  #seccion-imagenes .imagen img {
    max-width: 100%;
    height: auto;
  }
  
  #seccion-imagenes .texto-imagen {
    margin-top: 10px;
  }

  #seccion-imagenes .imagen img {
    max-width: 300%;
    max-height: 400px;
    object-fit: cover;
  }

  #seccion-imagenes h2 {
   color:rgb(86, 226, 43)
  }


#final{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(86, 226, 43);
    color: white;
    height: 80vh;
}

#final h2{
    font-size: 9vw;
}

#final button{
    font-size: 5vw;
}

footer{
    background-color: rgb(230,230,230);
}

footer p{
    margin: 0;
    padding: 12px;
    color: rgb(100,100,100);
}

footer .container{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

@media (min-width: 850px){
    header{
        position: fixed;
        width: 100%;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }


    #final h2{
        font-size: 5em;
    }

    #final button{
        font-size: 2em;
    }

    footer .container{
        justify-content: flex-end;
    }
}

@media (min-width: 1200px) {
   
}